<h2>
Add the following to the first cell in your Jupyter Notebook file (use the # symbol to add these lines as comments):

> Your Name <br>
> Lesson1 Exercises<br>
> Today’s Date

In [ ]:
#John Stewart
#Lesson 1 Exercises
#30/11/2022

<h3>Question 1

>Calculate the following:

> 7 x 5 + 2/4 

>You need it to be done in such a way that the 5 and 2 are added first and then the calculation is done

In [1]:
7 * (5 + 2) / 4

12.25

<h3>Question 2

> Evaluate these numbers:  
7 x 5 x 2 then divide the total by 2

In [11]:
7 * 5 * 2 / 2

35.0

<h3>Question 3

> Create an input prompt for a name, create a second input prompt for an age. The inputs should be stored as variables. Print the results of the input using the print function as described in the notes.  the print statement should be done with one line of code. The print statement should read: 
 Hello Jane your age is 25</span>

>

In [6]:
name = input("What is your name? ")#Prompts user to input name
age = input("How old are you?")#Prompts user to input age after name has been entered.
print("Hello " + name + ". Your age is " + age + ".")#Prints with the name and age variables

Hello John your age is 35.

<h3>Question 4

>Use the methods for printing described in the the notes. This should be ONE print statement. The print statement should be formatted as shown:

> This quote is from King Lear:

> “How sharper than a serpent's tooth it is

> To have a thankless child!”</span>

In [12]:
print("""This quote is fron King Lear:
\"How sharper than a serpent's tooth it is
To have a thankless child!\"""")

This quote is fron King Lear:
"How sharper than a serpent's tooth it is
To have a thankless child!"

<h3>Question 5

>Copy this code into a cell in your file. The code contains an error. Correct the error. Add a comment in the cell explaining what the error was.

> first_name= Anne
<br>
> full_name=first_name+last_name
<br>
> print(first_name,last_name)

In [9]:
first_name = 'John'
last_name = 'Stewart'
full_name = first_name + last_name
print(first_name, last_name)

#Error was a NameError because 'John' wasn't defined as a string.
#last_name wasn't defined at all.

John Stewart

<h3>Question 6

> In a new cell display the value 7.4 shortened to an integer. Use a function to do this.

In [10]:
print(int(7.4))

7

<h3>Question 7

>Copy this code into a cell in your file. The code contains an error. Correct the error. Add a comment in the cell explaining what the error was.

>Value_1=6
<br>
>Value_2=8
<br>
>Totll = Value_1+Value_2
<br>
>Total

In [16]:
Value_1 = 6
Value_2 = 8
Total = Value_1 + Value_2
print(Total)

#The error was misspelling Totll.

14

<h3>Question 8

>Create two input prompts which will accept integers, assign the sum of the two integers to a variable called total. Following the notes, use the total variable in a print statement which should say (assuming the two inputs were 4 and 8):

 >The total number of visitors was 12

In [21]:
input1 = int(input("Input first number: "))
input2 = int(input("Input second number: "))
sum = input1 + input2
print("The total number of visitors was", sum)

The total number of visitors was 12

<h3>Question 9

>In three separate cells show the results of true division, floor division and modulo of the number 17 divided by 3. Note: when you do the true division on this you will probably see that it has a large number of decimal points. Try this function: round(17/3, 2) to round to two decimal places

In [24]:
round(17/3, 2)

5.67

In [25]:
7//4

1

In [26]:
7%4

3

<h3>Question 10

> The cover price of a book is £25 but bookshops get a 40% discount (this is the wholesale price). The shipping for the first copy is £3 and for any additional copies the shipping is 75 pence. What is the total wholesale cost for 60 copies including shipping? Use variables as much as possible for this.

In [37]:
cover_price = 25
discount_price = cover_price * 0.40
cover_discount_price = cover_price - discount_price
#print(cover_discount_price)
shipping_price = 0.75
#additional_copies = shipping_price - 2.25
#print(additional_copies)
total_cost = cover_discount_price + shipping_price
number_ordered = 60

total_order_cost = total_cost * number_ordered + 2.25
total_order_cost

947.25

In [39]:
cover_price = 25
discount_price = .40
wholesale_price = cover_price - (discount_price * cover_price)
#print(wholesale_price)
shipping_cost = .75
first_ship_cost = 3
total_cost_each = wholesale_price + shipping_cost
number_ordered = 60
total_order_cost = total_cost_each * number_ordered + (first_ship_cost - shipping_cost)
total_order_cost

15.0

947.25

<h> EXTENSION - do it with user inputs

In [40]:
#Code for user inputs
cover_price = int(input('Enter the cover price:'))
discount_price = float(input('Enter the discount:'))
first_ship_cost = float(input('Enter first book shipping cost:'))
shipping_cost = float(input('Enter bulk buy cost'))
number_ordered = int(input('How many books to order:'))
total_cost_each = cover_price - (discount_price * cover_price)
total_whole_cost = total_cost_each + shipping_cost
total = total_whole_cost * number_ordered + (first_ship_cost - shipping_cost)
total

947.25