In [ ]:
# John Stewart
# Lesson 3
# 14/12/2022

## Create a list

In [ ]:
#Create a list
b = [5, 8, 15, 75, 17]
b

## INDEX = Access individual list items

In [ ]:
#Get the value of the list item with the index position 2
b[2]

In [ ]:
b[2] = 20
b

In [ ]:
b[-1]

## Using Strings in lists and capitalizing

In [ ]:
#strings are immutable
my_word = 'python'
my_word[0]

In [ ]:
my_word[0] = 'P'
my_word

In [ ]:
#change first letter to uppercase
py_lower = 'python'
py_upper = py_lower.capitalize()
print(py_upper)

## len() function

In [21]:
#use len() to give you the number of items in your list
len(b)

5

In [ ]:
#lists know their own length. error message generated as there are only 5 items in the list
b[5]

In [17]:
#use list elements in expressions
b[0] + b[1] + b[2]

33

## Adding items to an Empty List

In [18]:
#add items to a list useing plus equals
a_list = []
for number in range(1, 6):
     a_list += [number]
a_list

[1, 2, 3, 4, 5]

In [19]:
letters = []
letters += 'banana'
letters

['b', 'a', 'n', 'a', 'n', 'a']

In [20]:
letters1 = []
for l in 'banana':
    letters1 += l
letters1

['b', 'a', 'n', 'a', 'n']

## Use the (+) operator to concatenate lists

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60, 70]
concatenated_list = list1 + list2
concatenated_list

## Printing Lists

In [22]:
#create a list of films and print the list
films = ['fargo', 'nomadland', 'nosferatu', 'gaslight']
print(films)

['fargo', 'nomadland', 'nosferatu', 'gaslight']

In [23]:
#print values by selecting index position
print(films[0], ',', films[2])

fargo , nosferatu

In [25]:
#use the indext positon in a list in a print message
print('The directors of the film', films[0], 'were the Coen Brothers')

The directors of the film fargo were the Coen Brothers

In [26]:
for i in range(len(films)):
     print(i + 1, ':', films[i].title())

1 : Fargo
2 : Nomadland
3 : Nosferatu
4 : Gaslight

## Modifying Lists

In [27]:
#create a list of dogs
dogs = ['collie', 'terrier', 'spaniel', 'hound']
dogs

['collie', 'terrier', 'spaniel', 'hound']

In [28]:
#AMEND and element (i.e change the value of an element)
dogs[1] = 'retriever'
dogs

['collie', 'retriever', 'spaniel', 'hound']

In [29]:
#APPEND and element (i.e add an element at the end of the list)
dogs.append('mastiff')
print(dogs)

['collie', 'retriever', 'spaniel', 'hound', 'mastiff']

In [30]:
#INSERT a new elelment at a specified index position
dogs.insert(1, 'poodle')
print(dogs)

['collie', 'poodle', 'retriever', 'spaniel', 'hound', 'mastiff']

In [33]:
colours = ['blue', 'red', 'green', 'brown', 'yellow', 'pink']

In [34]:
#DEL - delete a list element PERMANENTLY by index position
del colours[3]
colours

['blue', 'red', 'green', 'yellow', 'pink']

In [35]:
#POP - pop does not permanently delete the value, only for the list
out = colours.pop(1)#Pops out colour from index1 'red'
colours

['blue', 'green', 'yellow', 'pink']

In [39]:
#This shows how pop works as the value is retrieved and added to the new list. The value is still in memory
new_colours = []
new_colours = out
new_colours

'red'

In [38]:
#Shows that the list element 'pink' has been deleted both from the list and memory
removed_colours = []
removed_colours = colours.remove('pink')
removed_colours

ValueError: list.remove(x): x not in list

## Organise lists - Sort

In [ ]:
fruit = [ 'banana', 'apple', 'pear']

In [40]:
# SORTED - sorts temporarily
fruit = [ 'banana', 'apple', 'pear']
sorted(fruit)

['apple', 'banana', 'pear']

In [41]:
#show the sorting was temp. Will return to normal order.
fruit

['banana', 'apple', 'pear']

In [43]:
#SORT - Sorts PERMANENTLY. Note the syntax compared to the first
fruit = [ 'banana', 'apple', 'pear']
fruit.sort()
fruit

['apple', 'banana', 'pear']

In [44]:
# List reevaluated again and the sort is the same
fruit

['apple', 'banana', 'pear']

In [45]:
# Sort from the end
fruit.reverse()
fruit

['pear', 'banana', 'apple']

## Using Range in Lists

In [46]:
# RANGE function & arguments being used to create a list containing the even numbers between 2 and 20
even_numbers = list(range(2, 22, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
#Create a list using RANGE and CALCULATION done in a FOR loop. In this example square the numbers 1-10 and add them as elements in the squares list
squares = []
for value in range(1, 11):
     square = value ** 2
     squares.append(square)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Min, Max, Sum

In [48]:
#Basic statistical functions
my_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_min = min(my_nums)
print(my_min)
my_max = max(my_nums)
print(my_max)
my_sum = sum(my_nums)
print(my_sum)

1
9
45

## Slicing Lists

In [51]:
dog_names = ['max', 'bear', 'flash', 'indy', 'roly', 'robbie', 'otis']
dog_names

['max', 'bear', 'flash', 'indy', 'roly', 'robbie', 'otis']

In [52]:
#find the index position of a particular dog from the list
index = dog_names.index('bear')
index

1

In [53]:
#SLICE the list
print(dogs_names[1:4])

['bear', 'flash', 'indy']

In [54]:
#SLICE using FOR loop
for d in dog_names[:3]:
     print(d)

max
bear
flash

In [55]:
#SlICE with not closing index
print(dog_names[1:])

['bear', 'flash', 'indy', 'roly', 'robbie', 'otis']

In [56]:
#SLICE using double colon to skip elements
print(dog_names[0::2])

['max', 'flash', 'roly', 'otis']

## Copying a List

In [57]:
#Copy a list. In this example you are making a copy of a list BUT what is important is that the 2 lists are in different memory locations
my_foods = ["pizza", "strawberries", "cake"]
friend_foods = my_foods[:]
print('my fav foods are: ', my_foods)
print("Friends fave fods are: ", friend_foods)

my fav foods are:  ['pizza', 'strawberries', 'cake']
Friends fave fods are:  ['pizza', 'strawberries', 'cake']

In [ ]:
#Add another element to my_foods