In [20]:
# Python Jupyter Notes
# Lesson 3
# 15/12/2022

## Create a list

In [21]:
#Create a list
b = [5, 8, 15, 75, 17]
b

[5, 8, 15, 75, 17]

## INDEX = Access individual list items

In [22]:
#Get the value of the list item with the index position 2
b[2]

15

In [23]:
b[2] = 20
b

[5, 8, 20, 75, 17]

In [24]:
b[-1]

17

## Using Strings in lists and capitalizing

In [25]:
#strings are immutable
my_word = 'python'
my_word[0]

'p'

In [26]:
my_word[0] = 'P'
my_word

TypeError: 'str' object does not support item assignment

In [ ]:
#change first letter to uppercase
py_lower = 'python'
py_upper = py_lower.capitalize()
print(py_upper)

## len() function

In [ ]:
#use len() to give you the number of items in your list
len(b)

In [ ]:
#lists know their own length. error message generated as there are only 5 items in the list
b[5]

In [ ]:
#use list elements in expressions
b[0] + b[1] + b[2]

## Adding items to an Empty List

In [ ]:
#add items to a list useing plus equals
a_list = []
for number in range(1, 6):
     a_list += [number]
a_list

In [ ]:
letters = []
letters += 'banana'
letters

In [ ]:
letters1 = []
for l in 'banana':
    letters1 += l
letters1

## Use the (+) operator to concatenate lists

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50, 60, 70]
concatenated_list = list1 + list2
concatenated_list

## Printing Lists

In [ ]:
#create a list of films and print the list
films = ['fargo', 'nomadland', 'nosferatu', 'gaslight']
print(films)

In [ ]:
#print values by selecting index position
print(films[0], ',', films[2])

In [ ]:
#use the indext positon in a list in a print message
print('The directors of the film', films[0], 'were the Coen Brothers')

In [ ]:
for i in range(len(films)):
     print(i + 1, ':', films[i].title())

## Modifying Lists

In [ ]:
#create a list of dogs
dogs = ['collie', 'terrier', 'spaniel', 'hound']
dogs

In [ ]:
#AMEND and element (i.e change the value of an element)
dogs[1] = 'retriever'
dogs

In [ ]:
#APPEND and element (i.e add an element at the end of the list)
dogs.append('mastiff')
print(dogs)

In [ ]:
#INSERT a new elelment at a specified index position
dogs.insert(1, 'poodle')
print(dogs)

In [ ]:
colours = ['blue', 'red', 'green', 'brown', 'yellow', 'pink']

In [ ]:
#DEL - delete a list element PERMANENTLY by index position
del colours[3]
colours

In [ ]:
#POP - pop does not permanently delete the value, only for the list
out = colours.pop(1)#Pops out colour from index1 'red'
colours

In [ ]:
#This shows how pop works as the value is retrieved and added to the new list. The value is still in memory
new_colours = []
new_colours = out
new_colours

In [ ]:
#Shows that the list element 'pink' has been deleted both from the list and memory
removed_colours = []
removed_colours = colours.remove('pink')
removed_colours

## Organise lists - Sort

In [ ]:
fruit = [ 'banana', 'apple', 'pear']

In [ ]:
# SORTED - sorts temporarily
fruit = [ 'banana', 'apple', 'pear']
sorted(fruit)

In [ ]:
#show the sorting was temp. Will return to normal order.
fruit

In [ ]:
#SORT - Sorts PERMANENTLY. Note the syntax compared to the first
fruit = [ 'banana', 'apple', 'pear']
fruit.sort()
fruit

In [ ]:
# List reevaluated again and the sort is the same
fruit

In [ ]:
# Sort from the end
fruit.reverse()
fruit

## Using Range in Lists

In [ ]:
# RANGE function & arguments being used to create a list containing the even numbers between 2 and 20
even_numbers = list(range(2, 22, 2))
print(even_numbers)

In [ ]:
#Create a list using RANGE and CALCULATION done in a FOR loop. In this example square the numbers 1-10 and add them as elements in the squares list
squares = []
for value in range(1, 11):
     square = value ** 2
     squares.append(square)
squares

## Min, Max, Sum

In [ ]:
#Basic statistical functions
my_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_min = min(my_nums)
print(my_min)
my_max = max(my_nums)
print(my_max)
my_sum = sum(my_nums)
print(my_sum)

## Slicing Lists

In [ ]:
dog_names = ['max', 'bear', 'flash', 'indy', 'roly', 'robbie', 'otis']
dog_names

In [ ]:
#find the index position of a particular dog from the list
index = dog_names.index('bear')
index

In [ ]:
#SLICE the list
print(dogs_names[1:4])

In [ ]:
#SLICE using FOR loop
for d in dog_names[:3]:
     print(d)

In [ ]:
#SlICE with not closing index
print(dog_names[1:])

In [ ]:
#SLICE using double colon to skip elements
print(dog_names[0::2])

## Copying a List

In [ ]:
#Copy a list. In this example you are making a copy of a list BUT what is important is that the 2 lists are in different memory locations
my_foods = ["pizza", "strawberries", "cake"]
friend_foods = my_foods[:]
print('my fav foods are: ', my_foods)
print("Friends fave fods are: ", friend_foods)

my fav foods are:  ['pizza', 'strawberries', 'cake']
Friends fave fods are:  ['pizza', 'strawberries', 'cake']

In [ ]:
#Add another element to my_foods
my_foods.append('chips')
print('Here are my foods: ', my_foods)
print('Friend foods are different: ', friend_foods)

Here are my foods:  ['pizza', 'strawberries', 'cake', 'chips']
Friend foods are different:  ['pizza', 'strawberries', 'cake']

In [27]:
# In this example the first list has not been copied to the second list.
my_foods1 = ['apples', 'oranges', 'pears']
friend_foods1 = my_foods1
print('my fav foods are: ', my_foods1)
print('friend\'s fave foods are: ', friend_foods1)

my fav foods are:  ['apples', 'oranges', 'pears']
friend's fave foods are:  ['apples', 'oranges', 'pears']

In [30]:
# Now there are 2 DIFFERENT lists when we add something to the first list, it is added to the second list as they are the same
my_foods1.append("bananas")
print("my fave foods are now: ", my_foods1)
print("My friend's fave foods are now: ", friend_foods1)

my fave foods are now:  ['apples', 'oranges', 'pears', 'bananas']
My friend's fave foods are now:  ['apples', 'oranges', 'pears', 'bananas']

# TUPLES
## Defining a tuple

In [31]:
# Create empty tuple
my_tuple = ()
len(my_tuple)

0

In [32]:
#define the dimensions of a rectangle
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [33]:
#Individual elements cannot be changed
dimensions[0] = 12
print(dimensions[0])

TypeError: 'tuple' object does not support item assignment

In [34]:
# Change the values in the tuple 'dimensions' to re-assign
dimensions = (200, 100)
dimensions

(200, 100)

## Looping through All the values in a tuple

In [35]:
#no parenthesis used but the evaluation adds them
student1 = "Anne", "Barker", 75
student1

('Anne', 'Barker', 75)

In [36]:
# looping through a tuple
for s in student1:
     print(s)

Anne
Barker
75

In [38]:
# FINDING INDEX POSITION
index = student1.index(75)
index

2

## Calculate using tuples

In [39]:
#Calculate using tuple elements

time_tuple = (10, 30, 5)
x = time_tuple[0] * 3600 + time_tuple[1] * 60+time_tuple[2]
x

37805